*{
    margin:0;
    padding:0;
    font-family: sans-serif;
 }
 .hero{
     position:relative;
     width: 100%;
     height: 100vh;
     background:rgb(50, 23, 104);
    
 }
 nav{
     display:flex;
     width:84%;
     margin: auto;
     padding: 20px 0;
     align-items:center;
     justify-content:space-between;
     
 }
 .logo{
     width: 100px;
     cursor:pointer;
 }
 nav ul li{
     display:inline-block;
     
     list-style:none;
     margin:10px 20px;
 }     
 nav ul li a{
    text-decoration-color: #54621d;
    color: white;
    padding: 15px 10px 15px;
    background-image: linear-gradient(#000000,#000000);
    border-radius: 19px;
    font-weight: bold;

 }
   


 }
 
 nav ul li a:hover{
     color: rgb(255, 115, 0);
     font-weight: bold;
     
 }
 .content{
     margin-left: 8%;
     margin-top: 15%;
 }    
 .content h1{
     font-size:50px;
     color:black;
     margin-bottom: 20px;
 }
 .content h4{
     color:black;
     font-size: 12px;
     
 }
 }
 span{
     color:red;
 
 }
 .content p{
     color:white;
     line-height:22px;
 
 }
 .content a{
     background: #121111;
     padding: 10px 18px;
     text-decoration: none;
     font-weight: bold;
     color: #fff;
     display:inline-block;
     margin: 30px 0;
     border-radius: 5px;
     
 }
 .images{
     width: 4cm;
     height: 85%;
     bottom:0;
     position: absolute;
     right:60px;
 
 }
 .images img{
     height:80%;
     position: absolute;
     left: -10%;
     bottom: 0;
     transform: translateX(-50%);
     transition:bottom 1s,left 1s;   
 }
 .images:hover.shape{
     bottom:40px;
 
 }
 .images:hover.boy{
     padding-left: 25cm;
     width: 5cm;
     height: 9cm;
 }
 .social{
     margin-left:8%;
     margin-top:100px;
 }   
 .social a{
     font-size: 30px;
     color:#212121;
     margin-right:20px;
 
 }
 .social a:hover{
     color:orange;
     
 }
